body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-card form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 30px; 
    row-gap: 20px;
}


.form-card form .full-width {
    grid-column: span 1; 
}


.form-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #34495e;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-card input:focus,
.form-card select:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.3);
}


#role {
    width: 60%; 
}


.form-card .button-container {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.form-card button {
    padding: 12px 25px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-card button:hover {
    background-color: #1f6092;
}


.layout {
    display: flex;
    min-height: 100vh
}


aside {
    width: 250px; 
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    flex-shrink: 0; 
}

.main-content {
    flex: 1; 
    padding: 30px;
    background-color: #f5f6fa;
}

aside nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px;
}

aside nav a:hover {
    color: #2980b9;
}

.form-card {
    background-color: #ffffff;                       
    padding: 30px 40px;                              
    border-radius: 12px;                            
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);         
    max-width: 700px;                                
    margin: 20px auto 0 auto;                        

