html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-layout {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.main-info {
  flex-grow: 1;
  padding: 35px 50px;
  box-sizing: border-box;
  width: 100%;
}

.contact-header {
  background: #ffffff;
  padding: 25px 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid #d1d3d4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identity {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-circle {
  width: 60px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  width: 62px;
  height: 62px;
  color: #444;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

.header-text .meta {
  margin: 2px 0;
  color: #666;
  font-size: 14px;
}

.action-button {
  display: flex;
  gap: 10px;
  width: auto;
  flex-shrink: 0;
  overflow: visible;
  flex-wrap: nowrap;
}

.back-btn,
.cancel-btn,
.save-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

.back-btn i,
.cancel-btn i,
.save-btn i {
  margin-right: 8px;
  font-size: 16px;
}

.back-btn,
.save-btn {
  background: #54cd70;
}

.cancel-btn {
  background: #eaac56;
}

.back-btn:hover,
.save-btn:hover {
  background: #218838;
}

.cancel-btn:hover {
  background: #e39d38;
}

.info-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #d1d3d4;
  margin-bottom: 25px;
}

.info-box input,
select {
  height: 30px;
  border-radius: 3px;
  border: 2px solid rgb(118, 117, 117);
  margin-bottom: 20px;
}

.info-col {
  width: 48%;
}

.info-col label {
  display: block;
  padding-bottom: 5px;
}
