* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.page-header h2{
    font-weight: 500;
}

.form-card form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 30px; 
    row-gap: 20px;
}


.form-card form .full-width {
    grid-column: span 1; 
}


.form-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: black;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s, box-shadow 0.3s;
}

.form-card input:focus,
.form-card select:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.3);
}


.form-card .button-container {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.form-card button {
    padding: 12px 25px;
    background-color: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-card button:hover {
    background-color: #3a30e2;
}


.layout {
    display: flex;
    min-height: 100vh
}

.main-content {
    width: 100%;
    padding-top: 20px;
    padding-left:50px;
    padding-right: 35px;
    
}

.form-card {
    background-color: #ffffff;                       
    padding: 30px 40px;                              
    border-radius: 12px;                            
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);         
    max-width: 100%;                                
    margin: 20px auto 0 auto;                        
}

.messages{
    width: 100%;
    display: flex;
    justify-content: center;
}

.success-message{
    width:45%;
    padding: 20px; 
    color: green;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}

.error-message{
    width:70%;
    padding: 20px;
    color: red;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}