html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-layout {
  display: flex;
  min-height: 100vh;
}

.main-info {
  flex-grow: 1;
  padding: 35px 50px;
  box-sizing: border-box;
}

.contact-header {
  background: #ffffff;
  padding: 25px 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 1px solid #d1d3d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identity {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-circle {
  width: 60px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  width: 62px;
  height: 62px;
}

.header-text h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.header-text .meta {
  margin: 2px 0;
  font-size: 14px;
  color: #666;
}

.action-button {
  display: flex;
  gap: 10px;
}

.back-btn,
.save-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border:none;
}

.back-btn,
.save-btn {
  background: #4f46e5;
}

.save-btn{
  font-weight: 500;
}

.save-btn i{
  margin-right: 5px;
}

.back-btn:hover,
.save-btn:hover {
  background: #3a30e2;
}

.info-box {
  background: #ffffff;
  padding: 20px 25px 30px 25px;
  border-radius: 4px;
  border: 1px solid #d1d3d4;
  margin-bottom: 25px;

  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 80px 80px;
  column-gap: 4%;
  row-gap: 20px;
}

.info-col label {
  display: block;
  padding-bottom: 5px;
}


.info-col input,
.info-col select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.info-col input{
  padding-left: 10px;
}

#title-sec{
  width:11%;
}

.action-buttons {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 14px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.08);
}


