.site-header {
  width: 100%;
  height: 60px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding-top:10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.site-title {
  font-size: 20px;
  color: white;
  margin: 0;
  padding-top:10px;
  padding-bottom: 10px;
}
